//- .ui.active.dimmer
//-   .ui.text.loader Waking up..
.info
  h2.computer-name.ui.thin.dividing.header=name
  span.status MAC address:
    span.ui.label=macAddress
.actions
  button.ui.big.labeled.icon.fluid.green.awake.button
    i.icon.flag
    | Wake
  .other.ui.fluid.small.buttons
    a.animated.fade.ui.edit.button(href="#")
      .hidden.content Edit
      .visible.content
        i.icon.pencil
    a.animated.fade.red.ui.delete.button(href="#")
      .hidden.content Delete
      .visible.content
        i.icon.trash