// App.
extends ../app_layout

block head
  title BaconPi
  
block body
  #chrome
    // Dimmer illustrating the loading sequence.
    #bootstrapping-dimmer.ui.active.dimmer
      .ui.text.loader Initializing app..
      
    // Top menu
    #menu

    // Content
    #content.container
    - console.log('User', currentUser);
    // Notifications page dimmer
    #notifications.ui.page.dimmer
block pagescripts
  script(type="text/javascript").
    require(['/js/app/config.js'], function() {
      require(['app'], function(App) {
        require(['collections/agents_collection', 'models/user_model'], function() {
          
          var currentUser = !{JSON.stringify(currentUser)};
          var agents = !{JSON.stringify(agents)};
          console.log('Current user:', currentUser);
          console.log('Agents:', agents);
          App.entities.currentUser.set(currentUser);
          App.entities.agents.reset(agents);
          App.start();
        });
      });
    });