// App.
extends ../app_layout

block head
  title BaconPi
  
block body
  #chrome
    // Dimmer illustrating the loading sequence.
    #bootstrapping-dimmer.ui.active.dimmer
      .ui.text.loader Bootstrapping..
      
    // Top menu
    #menu

    // Content
    #content.container
    
    // Notifications page dimmer
    #notifications.ui.page.dimmer
      