// Title
h2.ui.thin.dividing.header Agents
p.
  An agent is a device that listens for wake-up calls. Add yours here.
div
  .ui.green.small.labeled.icon.add.button
    i.plus.icon
    | Add
#agents.ui.divided.list