// Title
.content
  .header=deviceName
    if connected
      span.ui.green.connectivity.label.add.h.v.spacing Online
  .description
    | Mac address: 
    span=macAddress
    
    div.add.spacing
      .ui.tiny.buttons
        .ui.tiny.open.button
          i.open.folder.icon
          | Show
        .ui.tiny.edit.button
          i.pencil.icon
          | Edit
        .ui.tiny.delete.red.button
          i.trash.icon
          | Delete
// .right.tiny.floated.ui.right.pointing.dropdown.buttons
  