.password-info
  p.
    So obviously we can't really <strong>show</strong>
    you your password, as we've hashed it.
    You can change it though, if you know what it is.
  .ui.buttons
    #show-password-form.ui.button Change my password
.password-form
  .ui.form
    .field
      label Old password
      .ui.left.labeled.icon.input
        input(type="password" name="old-password" id="old-password" placeholder="Your old password, please.")
        i.lock.icon
        .ui.corner.label
          i.icon.asterisk
    .field
      label New password
      .ui.left.labeled.icon.input
        input(type="password" name="new-password" id="new-password" placeholder="Whats your new password gonna be?")
        i.lock.icon
        .ui.corner.label
          i.icon.asterisk
    .field
      label Repeat new password
      .ui.left.labeled.icon.input
        input(type="password" name="new-password-again" id="new-password-again" placeholder="Please repeat that.")
        i.lock.icon
        .ui.corner.label
          i.icon.asterisk
    .ui.button.labeled.icon.positive.submit.password 
      i.check.icon
      | Change password