doctype html
head
   block head
   meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
   
   // STYLES
   link(rel="stylesheet", href="/css/vendor/normalize.css")
   link(rel="stylesheet", href="/css/vendor/semantic.css")
   link(rel="stylesheet", href="/css/common.css")
   link(rel="stylesheet", href="/css/account.css")
   link(rel="stylesheet", href="/css/app.css")
   link(rel="stylesheet", href="/css/breakpoints.css")
   // STYLES END
body
   block body
   block scripts
   block pagescripts