extends base_layout
block vars
  - activePage = 'Home';

mixin menuItem(text, url)
  - if (activePage == text)
      a(href=url).active.item=text
  - else
      a(href=url).item=text

block body
  .ui.teal.main.menu
    .left.menu
      a(href='/').title.item 
        img(src="/img/logo-small.png")#site-logo
        | BaconPi
    .right.menu
      +menuItem('Get Started', '/getstarted')
      +menuItem('Login', '/account')
      +menuItem('Register', '/account/signup')
      +menuItem('About', '/about')
       
  #front-page.wrapper
    block content
      
  footer#page-footer
    :markdown
      BaconPi is a thing by Jeff Hansen.
      Copryright © **Jeff Hansen - Jeffijoe.com 2014**. All rights reserved.
      All usage of the service or whatever implies agreement of our [Terms of Service](/terms). and [Privacy Policy](/privacy)
block scripts   
  // SCRIPTS
  script(type="text/javascript", src="/min/site.js")
  // SCRIPTS END
block pagescripts