extends base_layout

block body
   .ui.fixed.transparent.main.menu
     .ui.page.grid
       .title.item BaconPi
       .right.menu
         a.active.item Home
         a.item Login
         a.item Register
       
   .wrapper
      block content
block scripts   
  // SCRIPTS
  script(type="text/javascript", src="/min/site.js")
  // SCRIPTS END
block pagescripts