extends base_layout
block vars
  - activePage = 'Home';

mixin menuItem(text, url)
  - if (activePage == text)
      a(href=url).active.item=text
  - else
      a(href=url).item=text

block body
  .ui.teal.main.menu
    .left.menu
      a(href='/').title.item 
        img(src="/img/logo-small.png")#site-logo
        | BaconPi
    .right.menu
      +menuItem('Home', '/')
      +menuItem('Login', '/account')
      +menuItem('Register', '/account/signup')
      +menuItem('About', 'about')
       
  #front-page.wrapper
    block content
      
  footer#page-footer.
    BaconPi is a thing by Jeff Hansen.
    Copryright &copy; Jeff Hansen - Jeffijoe.com 2014. All rights reserved.
    All usage of the service or whatever implies agreement of our <a href="/terms">Terms of Service</a>.
block scripts   
  // SCRIPTS
  script(type="text/javascript", src="/js/vendor/jquery.js")
  script(type="text/javascript", src="/js/vendor/semantic.js")
  // SCRIPTS END
block pagescripts