extends ../home_layout
block head
  title Home &bullet; BaconPi
  meta(name="robots" content="index, follow")
    
block content
  .ui.page.grid
    .row
      .sixteen.wide.column.center
        img(src="/img/logo-huge.png")#huge-logo
        h1.big.ass.thin.no.margin BaconPi
        p.huge It's Wake-On-LAN, but cooler.
        p
          a(href="/getstarted").ui.huge.green.button Get started!
        p Continue to learn more.
        p
          i.large.down.arrow.icon
            
  .ui.one.column.page.grid
    .row
      .column
        .video-container
          iframe(src="//www.youtube.com/embed/lmfuUuOwQEs?rel=0" frameborder="0" allowfullscreen)
  
  .ui.three.column.page.stackable.grid
    .row
      .column
        h2 Static IP not required
        p.
          Sometimes the biggest issue is the fact that
          not everyone have access to a static IP address
          that they can route as they wish. I should know, as this
          was one reason I developed BaconPi.
      .column
        h2 No port-forwarding
        p.
          With BaconPi, you don't need to port-forward anything.
          This is actually the whole idea behind everything.
      .column
        h2 It's easy, and free!
        p.
          All you need is a Raspberry Pi (or any other Node-capable device) - with the BaconPi software -
          connected to your network, add it to your account, add
          the connected computers, and you're all set up.
  .ui.column.page.grid      
    .row
      .sixteen.wide.column
        h1.ui.thin.heading Want to know more?
        p Visit the <a href="/about">about</a> page for more information. 