extends ../home_layout

block content
  .ui.page.grid
    .sixteen.wide.column
      h1.thin BaconPi
      p It's a thing for having a Raspberry Pi wake up your computers.
      div
        a(href="/account").ui.green.button Log in
        span.h-space Or
        a(href="/account/signup").ui.green.button Register