extends ../home_layout
block vars
  - var activePage = 'Terms';

block head
  title Terms and Conditions

block content
  .ui.page.grid
    .row
      .sixteen.wide.column
        :markdown
          # Terms and conditions
          
          I really shouldn't have to say any of this, but
          believe it or not, there are assholes out there
          that just want to ruin other peoples lives, so..
          
          I won't spend money on having a fancy-schmancy Terms of Service generated
          for no one to look at - we're all human, so to make it simple:
          
          Whatever the fuck happens to you by using this product or whatever,
          I won't be liable for anything, unless whatever happened to you was awesome. 
          Then I totally deserve credit. :)
          
          That means theres no warranty whatsoever. This is free stuff,
          so you better not complain or sue me, else you are a very sad person,
          and the Internet will hate you forever.
          
          In fact, I can be like: "By using BaconPi you agree to never sue me ever. EVER."
          
          Also, don't abuse my generosity by trying to put this service offline or anything like that.
          
          Urgh, I hate writing stuff that's not code. Please just use common sense. I am not a lawyer.
          
          Don't contact me with lectures of foul language and professionalism, I couldn't care less.
          
          