// Title
h2.ui.thin.dividing.header=deviceName
  span.h-space
    a.ui.animated.fade.basic.thin.mini.edit.button
      .hidden.content Edit
      .visible.content
        i.icon.pencil.no.padding.margin
  
  span.ui.green.hidden.connectivity.label Online
  .sub.header=macAddress
    
    
// Add computer
button.ui.green.labeled.icon.add.button 
  i.icon.plus
  | Add computer
  
// Computer list
#computer-list