// Menu template.
.ui.orange.inverted.main.menu
  // Brand
  a#nav-brand(href="/agents").title.item
    div
      img(src="/img/logo-vector.png")#app-logo
  // Agent selector
  #agents-navbar-selector.ui.dropdown.item
      
  // User area
  .right.menu
    #user-menu.ui.dropdown.item